<nav class="navbar navbar-expand-lg py-0" style="background-color: #7F898C;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-0" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto py-0">
        <li class="nav-item active px-2 product-nav-item">
            <a class="nav-link didot" href="#">All</a>
        </li>
        <li class="nav-item product-nav-item px-2">
            <a class="nav-link didot" href="#popular">Popular</a>
        </li>
        <li class="nav-item product-nav-item px-2">
            <a class="nav-link didot" href="#">Recommended For You</a>
        </li>
        <li class="nav-item product-nav-item px-2">
            <a class="nav-link didot" href="#">New For You</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 didot">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>