<nav class="navbar navbar-expand-lg py-0" style="background-color: #7F898C; height: fit-content">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-0" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto py-0">
        <li class="nav-item active px-2 product-nav-item">
            <a class="nav-link didot" href="{% url 'webb:products' 'AP' %}">All Products</a>
        </li>
        <li class="nav-item product-nav-item px-2">
            <a class="nav-link didot" href="{% url 'webb:products' 'PH' %}">Photos</a>
        </li>
        <li class="nav-item px-2 product-nav-item">
        <a class="nav-link didot" href="{% url 'webb:products' 'P' %}">Paintings</a>
        </li>
        <li class="nav-item px-2 product-nav-item">
        <a class="nav-link didot" href="{% url 'webb:products' 'DP' %}">Designer Products</a>
        </li>
        <li class="nav-item px-2 product-nav-item">
            <a class="nav-link didot" href="{% url 'webb:products' 'S' %}">Stationary</a>
        </li>
        <li class="nav-item px-2 product-nav-item">
            <a class="nav-link didot" href="{% url 'webb:products' 'F' %}">Fashion</a>
        </li>
        <li class="nav-item px-2 product-nav-item">
            <a class="nav-link didot" href="{% url 'webb:products' 'C' %}">Crossover</a>
        </li>
        <li class="nav-item px-2 product-nav-item">
            <a class="nav-link didot" href="{% url 'webb:products' 'LE' %}">Limited Edition</a>
        </li>
        <li class="nav-item px-2 product-nav-item">
            <a class="nav-link didot" href="das">DAS</a>
        </li>
  
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0 didot">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
</nav>