<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>
			html, body {
				margin: 0;
				height: 100%;
				width: 100%;
			}
			.didot{
				font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
			}
			.bold{
				font-weight: bold;
            }
			body{
				background-color: #D5DAE0;
			}
        </style>
    </head>
    <body>
        {% include 'nav/header.html' %}
        <div class="container mt-3">
            <div class="card didot" >
                {% autoescape off %}  
                Dear {{ user.username }},
                    Welcome! We are very glad to have you joining our community. Please kindly
                    click on the link below to verify your emaill, so that we can provide better
                    services.
                    http://{{ domain }}{% url 'verify_email' uidb64=uid token=token %}  
                {% endautoescape %}  
            </div>
        </div>
        <footer class="fixed-bottom justify-content-between d-flex py-1 px-3" style="background-color:black; color:white;">
			<div id="copyright" class="didot">
				 Copyright owned by Molekiu Limited
			</div>
		</footer>
    </body>
</html>