<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>
			html, body {
				margin: 0;
				height: 100%;
				width: 100%;
			}
			.didot{
				font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
			}
			.bold{
				font-weight: bold;
            }
			body{
				background-color: #D5DAE0;
			}
        </style>
    </head>
    <body>
        {% include 'nav/home_nav.html' %}
        <div class="container">
            <div class="card didot mt-3">
                <h5>Your email has been verified</h5>
                <a href="{% url 'webb:home' %}" class="float-right">Click Here To Go Back To Homepage</a>
            </div>
        </div>
    </body>
</html>